<!DOCTYPE html>
<html lang="{{@site.lang}}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{@site.title}}</title>

    {{ghost_head}}

    <link rel="stylesheet" href="/assets/css/style.min.css">
</head>

<body>
    {{navigation}}

    <main class="page projets-page">
        <section class="portfolio-block project-no-images">
            <div class="container">
                <div class="heading">
                    <h2>Valemid</h2>
                </div>
                <div class="row">
                    <div style="width: 189px;">
                        <ul class="list-unstyled sidebar">
                            <li><a href="{{@site.url}}">Kõik</a></li>
                            {{#get "tags" limit="all"}}
                                {{#foreach tags}}
                                    <li><a href="{{url}}">{{name}}</a></li>
                                {{/foreach}}
                            {{/get}}
                        </ul>
                    </div>
                    <div class="col">
                        <div class="row formulas">
                            {{#foreach posts}}
                                <div class="col">
                                    <div class="project-card-no-image">
                                        <h3>{{title}}</h3>
                                        <h4>{{custom_excerpt}}</h4><a class="btn btn-outline-primary btn-sm" role="button" href="{{url}}">Näita rohkem</a>
                                        {{#foreach tags}}
                                            <div class="tags"><a href="{{url}}">{{name}}</a></div>
                                        {{/foreach}}
                                    </div>
                                </div>
                            {{/foreach}}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="page-footer">
        {{navigation type="secondary"}}
    </footer>

    {{ghost_foot}}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/assets/js/pace.min.js"></script>
</body>

</html>