<!DOCTYPE html>
<html lang="{{@site.lang}}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{@site.title}}</title>

    {{ghost_head}}

    <link rel="stylesheet" href="/assets/css/style.min.css">
</head>

<body>
    {{navigation}}


    {{ghost_foot}}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/assets/js/pace.min.js"></script>
</body>

</html>