<!DOCTYPE html>
<html lang="{{@site.lang}}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{@site.title}} - {{#post}}{{title}}{{/post}}</title>

    {{ghost_head}}

    <link rel="stylesheet" href="/assets/css/style.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
</head>

<body>
    {{navigation}}

    <main class="page project-page">
        <section class="portfolio-block project">
            <div class="container">
                {{#post}}
                <div class="heading">
                    <h2>{{title}}</h2>
                </div>
                <div class="row formula">
                    <div class="info">
                        <h3>Kasutus</h3>
                        {{content}}
                    </div>
                    <div class="meta">
                        <div class="tags">
                            <span class="meta-heading">Sildid</span>
                            {{#foreach tags}}
                                <a href="{{url}}">{{name}}</a>
                            {{/foreach}}  

                            <span class="meta-heading">Lisatud</span>
                            <span>{{date published_at timeago="true"}}</span>
                        </div>
                    </div>
                </div>
                <div class="more-projects">
                    <h3 class="text-center">Sarnased valemid</h3>
                    <div class="formulas">
                        {{#get "posts" filter="primary_tag:{{primary_tag.slug}},id:-{{id}}" limit="3" include="tags"}}
                            {{#foreach posts}}
                            <div class="col">
                                <div class="project-card-no-image">
                                    <h3>{{title}}</h3>
                                    <a class="btn btn-outline-primary btn-sm" role="button" href="{{url}}">Näita rohkem</a>
                                    <div class="tags">
                                        {{#primary_tag}}
                                            <a href="{{url}}">{{name}}</a>
                                        {{/primary_tag}}
                                    </div>
                                </div>
                            </div>
                            {{/foreach}}
                        {{/get}}
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="page-footer">
        {{navigation type="secondary"}}
    </footer>

    {{ghost_foot}}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/assets/js/pace.min.js"></script>
    <script src="/assets/js/magic.min.js"></script>
</body>
{{/post}}

</html>